

.login-screen {
  display: flex;
  max-width: 712px;
  padding: 48px 16px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  flex: 1 0 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #242424;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.login-screen .summary-title {
  font-family: Mukta;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.login-screen .step-title {
  font-family: Mukta;
  font-size: 22px;
  font-weight: 700px;
}

.login-screen text-link {
  font-size: 20px;
}

.login-screen .summary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.login-screen .text-link, .login-screen .text-link:visited {
  color: #0280D9;
  text-decoration: underline;
}

.login-screen .text-link:hover {
  cursor: pointer;
}

.login-screen .user-connected-row {
  display: flex;
  gap: 4px;
  align-items: center;
}

.login-screen .tick {
  width: 40px;
  height: 40px;
}

.login-screen .username {
  font-family: Mukta;
  font-size: 22px;
  font-weight: 700px;
}

.login-screen .error-text {
  font-size: 17px;
}


@media only screen and (max-width: 712px) {

  .login-screen {
    font-size: 17px;
  }

  .login-screen .summary-title {
    font-size: 28px;
    line-height: 40px;
  }

  .login-screen .error-text {
    font-size: 15px;
  }
  
}