

.login-screen {
  display: flex;
  max-width: 680px;
  padding: 48px 0px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  flex: 1 0 0;
  font-family: Asar;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #242424;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.login-screen .summary-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-family: Mukta;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.login-screen .step-title {
  font-family: Mukta;
  font-size: 22px;
  font-weight: 700px;
}

.login-screen text-link {
  font-size: 20px;
}

.login-screen .summary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.login-screen .text-link, .login-screen .text-link:visited {
  color: #0280D9;
  text-decoration: underline;
}

.login-screen .text-link:hover {
  cursor: pointer;
}

.login-screen .user-connected-row {
  display: flex;
  gap: 4px;
  align-items: center;
}

.login-screen .tick {
  width: 40px;
  height: 40px;
}

.login-screen .username {
  font-family: Mukta;
  font-size: 22px;
  font-weight: 700px;
}
