.home-screen {
  display: flex;
  /* align-items: flex-start; */
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  justify-content: stretch;
  align-items: stretch;
  max-height: 100%;
  overflow: hidden;
}

.home-screen .left-column {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
}

.home-screen .filter-menu {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.home-screen .filter-button, .home-screen .filter-button-selected {
  color: #242424;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.home-screen .filter-button-selected {
  font-weight: 700;
}

.home-screen .filter-button:hover {
  cursor: pointer;
}

.home-screen .indent1 {
  padding-left: 16px;
}

.home-screen .content-column {
  display: flex;
  width: 680px;
  padding: 48px 32px 40px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home-screen .content-column::-webkit-scrollbar {
  display: none;
}

.home-screen .right-column {
  display: flex;
  padding: 48px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

.home-screen .loader {
  width: 48px;
  height: 48px;
}

.home-screen .info-text, .home-screen .more-button {
  color:#c8c8c8;
  font-family: Mukta;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  max-width: 680px;
}

.home-screen .more-button:hover {
  cursor: pointer;
}

.home-screen .hide {
  display: none;
}

