.home-screen {
  flex: 1 0 0;
  display: grid;
  grid-template-columns: 1fr 680px 1fr;
  align-self: stretch;
  max-height: 100%;
  overflow: hidden;
}

.home-screen .left-column {
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
}

.home-screen .filter-menu {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.home-screen .filter-button, .home-screen .filter-button-selected {
  color: #242424;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.home-screen .filter-button-selected {
  font-weight: 700;
}

.home-screen .filter-button:hover {
  cursor: pointer;
}

.home-screen .indent1 {
  padding-left: 16px;
}

.home-screen .content-column {
  display: flex;
  padding: 48px 0 40px;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home-screen .content-column::-webkit-scrollbar {
  display: none;
}

.home-screen .right-column {
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
}

.home-screen .loader {
  width: 48px;
  height: 48px;
}

.home-screen .info-text, .home-screen .more-button {
  color:#c8c8c8;
  font-family: Mukta;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  max-width: 680px;
}

.home-screen .more-button:hover {
  cursor: pointer;
}

.home-screen .hide {
  display: none;
}


@media only screen and (max-width: 1100px) {

  .home-screen {
    grid-template-columns: 210px 1fr;
  }

  .home-screen .right-column {
    display: none;
  }

}


@media only screen and (max-width: 910px) {

  .home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-screen .left-column {
    display: none;
  }

}


@media only screen and (max-width: 712px) {

  .home-screen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .home-screen .content-column {
    padding: 16px;
  }
  
}
