body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.App {
  margin: 0;
  font-family: "Work Sans", Helvetica;
  align-items: center;
  background-color: #ffffff;
  border: 1px none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.App .header {
  flex: 0;
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e2e2e2;
  display: flex;
  gap: 32px;
  height: auto;
  mix-blend-mode: normal;
  padding: 4px 24px;
  position: relative;
}

.header .logo {
  width: 48px;
  height: 48px;
}

.App .header-link {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.56px;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .user-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.App .mobile {
  display: none;
}

.App .header-link:hover {
  color: #242424;
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.text-button {
  font-family: Arial, Helvetica, sans-serif;
  color: #225398;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.text-button:hover {
  cursor: pointer;
}

.disabled {
  opacity: 50%;
}

.disabled:hover {
  cursor: initial;
}

.App .app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.App .p {
  align-self: stretch;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  white-space: nowrap;
}

.App .expander {
  align-self: stretch;
  height: 1px;
  position: relative;
  flex: 1 1;
}

.App .error-text {
  color:rgb(195, 4, 4);
}

@media only screen and (max-width: 800px) {

  .App .mobile {
    display: inherit;
  }
  
  .App .no-mobile {
    display: none;
  }
  
  .App .header {
    padding: 8px 16px;
    gap: 16px;
  }

}



.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  color: #dddddd;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #000000;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }
  .loader-small {
    width: 16px;
    height: 16px;
  }
  
  
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
