.article-summary {
  display: flex;
  width: 680px;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-bottom: 1px solid rgba(36, 36, 36, 0.20);
}

.article-summary .summary {
  display: flex;
  align-items: center;
  gap: 24px;
}

.article-summary .summary:hover {
  cursor: pointer;
}

.article-summary .summary-image {
  width: 150px;
  height: 150px;
  box-shadow: 0 0 8px 8px white inset;
  border-radius: 4px;
  object-fit:cover;
}

.article-summary .summary-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: 10px;
  flex: 1 0 0;
}

.article-summary .summary-title {
  color: #242424;
  font-family: Mukta;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
}

.article-summary .summary-description {
  color: #242424;
  font-family: Asar;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.article-summary .summary-author-bar {
  display: flex;
  padding-left: 174px;
  align-items: center;
  gap: 20px;
}

.article-summary .contact-icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 21px;
}

.article-summary .contact-icon:hover {
  cursor: pointer;
}

.article-summary .summary-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.article-summary .summary-bar-name {
  color: #0F1217;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.article-summary .summary-bar-name:hover {
  cursor: pointer;
}

.article-summary .summary-bar-date {
  color: #666;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.article-summary .summary-bar-tip-button {
  width: 20px;
}

.article-summary .summary-bar-tip-button:hover {
  cursor: pointer;
}

.article-summary .summary-bar-tips {
  color: #666;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.article-summary .mobile {
  display: none;
}

.article-summary .no-mobile {
  display: inherit;
}


@media only screen and (max-width: 712px) {

  .article-summary .mobile {
    display: inherit;
  }
  
  .article-summary .no-mobile {
    display: none;
  }
  
  .article-summary {
    width: auto;
    align-items: stretch;
  }

  .article-summary .summary-image-title-row {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .article-summary .summary-image {
    width: 50px;
    height: 50px;
    margin-top: 4px;
  }

  .article-summary .summary {
    align-items: stretch;
    flex-direction: column;
    justify-content: stretch;
    gap: 8px;
  }

  .article-summary .summary-title {
    font-size: 18px;
    line-height: 22px;
  }

  .article-summary .summary-description {
    font-size: 14px;
  }

  .article-summary .summary-author-bar {
    padding: 0;
  }

  .article-summary .summary-bar-name {
    font-size: 16px;
  }

  .article-summary .summary-bar-date {
    font-size: 14px;
  }

  .article-summary .summary-bar-tips {
    font-size: 14px;
  }

  .article-summary .summary-bar-tip-button {
    width: 16px;
  }
    
}

