.textbox {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: #a8a8a8;
  border-radius: 8px;
  gap: 8px;
  overflow: hidden;
  padding: 6px 16px;
  position: relative;
  color: #242424;
  font-family: "Mukta", Helvetica;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.textbox .text {
  width: 9%;
  flex: 1 0 0;
  background-color: transparent;
  flex: 1;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  white-space: inherit;
}

.textbox .centered {
  text-align: center;
}

.textbox input:focus{
  outline: none;
}

.textbox .invalid {
  color: rgb(172, 24, 24);
}