.publish-screen {
  display: flex;
  width: 100%;
  max-width: 712px;
  padding: 48px 16px;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  gap: 48px;
  flex: 1 0 0;
  font-family: Asar;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #242424;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.publish-screen .summary-title {
  font-family: Mukta;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.publish-screen .description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.publish-screen text-link {
  font-size: 20px;
}

.publish-screen .summary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.publish-screen .help-link, .publish-screen .help-link:visited {
  color: #848484;
  text-decoration: underline;
}

.publish-screen .help-link:hover {
  cursor: pointer;
}

.publish-screen .text-link, .publish-screen .text-link-disabled {
  color: #0280D9;
  text-decoration: underline;
}

.publish-screen .text-link:hover {
  cursor: pointer;
}

.publish-screen .text-link-disabled {
  opacity: 50%;
}

.publish-screen .user-connected-row {
  display: flex;
  gap: 4px;
  align-items: center;
}

.publish-screen .url-textbox {
  width: 90%;
  max-width: 432px;
}

.publish-screen .button-row {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.publish-screen .error-text {
  font-size: 17px;
}