.markdown {
  color: #242424;
  font-family: Asar;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  max-width: 712px;
  padding: 12px 16px;
}

.markdown title, .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6, .markdown h7, .markdown h8 {
  font-family: Mukta;
  font-style: normal;
}

.markdown title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.markdown h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.markdown h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 1.4em;
  margin-bottom: 0;
}

.markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 1.4em;
  margin-bottom: 0;
}

.markdown img {
  max-width: 680px;
}

.markdown a {
  color: #242424;
  font-weight: 700;
  text-decoration: underline;
}

.markdown a:visited {
  color: #242424;
}

.markdown code {
  font-size: 15px;
  background-color: #f2f4f8;
  padding: 1px 4px;
  font-weight: 200;
}

.markdown pre {
  font-size: 16px;
  font-weight: 200;
  display: block;
  background-color: #f2f4f8;
  padding: 16px;
  width: 680px;
  overflow-x: scroll;
}

.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
  width: max-content;
  max-width: 100%;
  overflow: scroll;
}

.markdown tbody, .markdown td, .markdown tfoot, .markdown th, .markdown thead, .markdown tr {
  border: 1px solid #c8c8c8;
  padding: 2px 12px;
  font-family: Asar;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.markdown th {
  font-weight: 700;
}

.markdown tbody code {
  font-size: 14px; 
}


@media only screen and (max-width: 712px) {

  .markdown title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }
  
  .markdown h1 {
    font-size: 27px;
    line-height: 33px;
  }
  
}
