.markdown {
  color: #242424;
  font-family: Asar;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 680px;
}

title, h1, h2, h3, h4, h5, h6, h7, h8 {
  font-family: Mukta;
  font-style: normal;
}

title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

img {
  max-width: 680px;
}

a {
  color: #242424;
  font-weight: 700;
  text-decoration: underline;
}

a:visited {
  color: #242424;
}

code {
  font-size: 16px;
  background-color: #f6f8fa;
  padding: 1px 4px;
  font-weight: 200;
}

pre {
  font-size: 16px;
  font-weight: 200;
  display: block;
  background-color: #f6f8fa;
  padding: 16px;
  width: 680px;
  overflow-x: scroll;
}