.article-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
}

.article-loading .error-text {
  color:#c8c8c8;
  font-family: Mukta;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  max-width: 680px;
}

.article-loading .loader {
  width: 48px;
  height: 48px;
}

.article {
  display: flex;
  width: 100%;
  padding: 0 0 48px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.article .image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.article img {
  /* max-height: 574px; */
  align-self: center;
}

.article .full-width {
  width: 100%;
}

.article .medium-width {
  margin-top: 48px;
  width: 1024px;
  max-width: 100%;
}

.article .default-width {
  margin-top: 48px;
  width: 680px;
  max-width: 100%;
}

.article .no-image {
  margin-top: 48px;
}

.article .caption {
  color: rgba(0, 0, 0, 0.50);
  font-family: Inria Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.article .title {
  font-family: Mukta;
  font-style: normal;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  width: 680px;
}

.article .author-section {
  display: flex;
  width: 680px;
  padding: 12px 0px;
  align-items: flex-start;
  gap: 20px;
}

.article .contact-icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
}

.article .contact-icon:hover, .article .author-name:hover {
  cursor: pointer;
}

.article .selector-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.article .selector-title-row {
  display: flex;
  height: 24px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.article .selector-title {
  color: #0F1217;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.article .selector-follow-link {
  color: #0280D9;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.article .selector-follow-link:hover {
  cursor: pointer;
}

.article .disabled {
  opacity: 50%;
}

.article .disabled:hover {
  cursor: inherit;
}

.article .selector-time {
  color: #666;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.article .activity-bar {
  display: flex;
  width: 680px;
  height: 24px;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.article .tip-button {
  width: 20px;
  height: 17.647px;
  flex-shrink: 0;
}

.article .tip-button:hover {
  cursor: pointer;
}

.article .tips {
  color: #666;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.article .icon-button {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}