.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  max-width: 100%;
  transform: translateX(-303px);
  transition: transform 0.2s ease-in-out;
  z-index: 101;
  background-color: #fff;
  border-radius: 0 8px 8px 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 0;
}

.mobile-menu.visible {
  transform: translateX(0);
}

.mobile-menu .logo {
  width: 48px;
  height: 48px;
  margin: 4px;
}

.mobile-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 32px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.mobile-menu .menu-option {
  color: #242424;
  font-family: Mukta;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mobile-menu .indent1 {
  padding-left: 16px;
}
