
.content-list {
  flex: 1 0 0;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

.content-list .loader {
  width: 48px;
  height: 48px;
}

.content-list .info-text, .content-list .more-button {
  color:#c8c8c8;
  font-family: Mukta;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.content-list {
  flex: 1 0 0;
}

.content-list .more-button:hover {
  cursor: pointer;
}

.content-list .hide {
  display: none;
}



@media only screen and (max-width: 712px) {

  .content-list {
    padding: 0;
    box-sizing: border-box;
  }

  .content-list .info-text, .content-list .more-button {
    font-size: 18px;
    line-height: 22px;
  }

}

